<div class="container">

  <!--Text Input-->
  <div class="row">
    <div class="col-xl-12">

      <p> <b> Einzelverbindungsnachweis (EVN): </b> Sofern nicht anders gewünscht, erhalten Sie keinen.  </p>


    </div>
  </div>

  <!--Radio Buttons-->
  <div class="row">
    <div class="col-xl-6">
      <label class="checkbutton">
        <input type="radio" name="EVN" id="shortEVN" value="shortEVN">
        EVN mit verkürzter Zielrufnummer </label>
    </div>
    <div class="col-xl-6">
      <label class="checkbutton">
        <input type="radio" name="EVN" id="completeEVN" value="completeEVN">
        EVN mit vollständiger Zielrufnummer
      </label>
    </div>

</div>

<p>
    Ich versichere, dass alle Mitbenutzer über den Einzelverbindungsnachweis informiert sind oder werden.
    Bei geschäftlicher Nutzung versichere ich, dass die Mitarbeiter informiert sind oder werden und das die
    Mitarbeitervertretung entsprechend den gesetzlichen Vorschriften beteiligt wurde.
    Falls EVN gewünscht, wird dieser standardmäßig elektronisch über die WebBill bereitgestellt,
    sofern Sie kein anderes elektronisches Medium beauftragt haben.
</p>

<hr>

<div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-9">
            <h1>Rechnungsanschrift</h1>
        </div>
        <div class="col-xl-3">
            <button type="button" class="btn btn-primary"> Daten übernehmen? </button>
        </div>
      </div>
    </div>
</div>

  <div class="row">
      <input id="Firmenname" name="Firmenname" type="text" placeholder="Firmenname" class="adjust_text_3 input-group-sm">
  </div>

  <div class="row">
      <input type="textarea" name="Name" id="Name" placeholder="Name des Firmeninhabers" class="adjust_text input-group-sm">
      <input type="textarea" name="FirstName" id="FirstName" placeholder="Vorname des Firmeninhabers" class="adjust_text input-group-sm ">
  </div>

  <div class="row">
      <input type="textarea" name="street" id="street" placeholder="Wohnanschrift des Firmeninhabers (Strasse)" class="strasse input-group-sm">
      <input type="textarea" name="FirstName" id="FirstName" placeholder="Hausnummer" class="hausnummer input-group-sm ">
  </div>

  <div class="row">
      <input type="textarea" name="PLZ" id="PLZ" placeholder="PLZ" class="hausnummer input-group-sm ">
      <input type="textarea" name="ort" id="ort" placeholder="ohnanschrift des Firmeninhabers (Ort)" class="strasse input-group-sm">
  </div>




</div>
