<!--The content below is only a placeholder and can be replaced.-->
<fieldset class="banner">

<div style="text-align:center">

  <header>
    <div>
    <img src="../../assets/logo.PNG" class="img-responsive">
    <div class="row">
      <h1>Vodafone-Order Portal Rheinland -Pfalz</h1>
    </div>
    <div class="row">
      <h4 style="text-align: left; margin-left: 150px; margin-top: auto; margin-bottom: auto" >Form step 1 of 8</h4>
    </div>
  </div>
  </header>
  <hr>
<router-outlet></router-outlet>
</div>
</fieldset>
