<fieldset>

<div class="container-fluid">
  <div class="row">
      <div class="container">
        <div class="row">
          <div class="col"><img src="../../assets/logo.jpg" class="img-responsive"></div>
          <div class="col-6">
            <div class="row"><h1>Vodafone-Order Portal Rheinland -Pfalz</h1></div>
            <div class="row"><h4>Stammdaten (Schritt 1 von 8)</h4></div>
          </div>
          <div class="col VFlogo"><img src="../../assets/VF.PNG" class="VFLogo"></div>
        </div>
      </div>
  </div>
<hr>

<router-outlet></router-outlet>

<hr>
<p>©Vodafone 2018</p>
</div>
</fieldset>

<!--
<fieldset>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-2"><img src="../../assets/logo.jpg" class="img-responsive"></div>
        <div class="row">
          <div class="col">
            <div class="row"><h1>Vodafone-Order Portal Rheinland -Pfalz</h1></div>
            <div class="row"><h4>Stammdaten (Schritt 1 von 8)</h4></div>
          </div>
        <div class="row">
          <div class="col-xl-12 VFLogo"><img src="../../assets/VF.PNG"></div>
        </div>
        </div>
        </div>
        <hr>
      </div>
    </div>
    <router-outlet></router-outlet>
    <hr>
    <p>©Vodafone 2018</p>
  </div>
</fieldset>
-->
