<fieldset>

<div class="container-fluid">
  <div class="row">
    <header>
      <div class="container">
        <div class="row">
          <div class="col"><img src="../../assets/logo.jpg" class="img-responsive"></div>
          <div class="col-6">
            <div class="row"><h1>Vodafone-Order Portal Rheinland -Pfalz</h1></div>
            <div class="row"><h4>Stammdaten (Schritt 1 von 8)</h4></div>
          </div>
          <div class="col VFlogo"><img src="../../assets/VF.PNG" class="VFLogo"></div>
        </div>
      </div>
      <hr>
    </header>
  </div>


<router-outlet></router-outlet>


</div>
</fieldset>

