<!--Customer Name-->

<div class="container-fluid">
  <div class="row CustDetail">
      <label class="col-md-4 CustDetail">Kundenname</label>
        <input id="custname"
          name="custname" type="text"
          style="margin-left: 40px"
          placeholder="Full Name"
          class="input-small"
          required
         [(ngModel)]="custname">
  </div>


  <!--Customer Number-->
  <div class="row CustDetail">
      <label class="col-md-4">Kundennummer</label>
        <input id="custnum"
          name="custnum" type="text"
          style="margin-left: 40px"
          placeholder="Customer Number"
          class="input-small"
          required>
  </div>

<!--Billing Account-->

  <div class="row CustDetail">
    <label class="col-md-4">Rechnungskonto</label>
      <input id="custnum"
        name="billact" type="text"
        style="margin-left: 40px"
        placeholder="Billing Account"
        class="input-small"
        required>
  </div>

</div>
<p>Bitte beachten Sie, dass pro Anschluss ein eigener Auftrag einzureichen ist</p>
  <div class="container-fluid">
    <label class="col-md-12"><button type="submit" class="btn btn-success float-right" (click)="onNextPage()" >weiter zu Schritt 2</button></label>
  </div>
