<!--The content below is only a placeholder and can be replaced.



<div class="container">
  <div class="rows">
    <div class="col-xs-20">
      <h1> Welcome to Angular6, Newbie</h1>
      <hr>

      <hr>
      <app-success-alert></app-success-alert>
      <hr>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
</div>


<app-servers></app-servers>
-->
<!--
<label>
  <input type="radio" value="yes" name="check" [(ngModel)]="check">Yes

</label>
  <label>
    <input type="radio" value="yes" name="check" [(ngModel)]="check">No
  </label><br>
{{ visible }}
-->


<div class="form-group">
  <label>Check</label>
  <div class="form-control">
    <label><input type="radio" name="check" [value]=true [(ngModel)]="visible">Yes</label>
    <label><input type="radio" name="check" [value]=false  [(ngModel)]="!visible">No</label>
  </div>
</div>

<p>{{visible}}</p>


<app-directive-assignment *ngIf="visible"></app-directive-assignment>
