<label>Server Name</label>

<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->


<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled] = "!allowAddServer" (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated ; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
  <p> No server yet created !</p>
</ng-template>

<hr>
<app-server *ngFor="let serve of Servers"></app-server>



<!--<h1>This is an assignment on Data Binding</h1>
<app-data-binding-assignment></app-data-binding-assignment>
-->
