<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <label class="col-md-2 control-label">Register :</label>
          <label class="col-md-2 checkbutton"><input type="radio" name="register" id="HRA" value="HRA"> HRA </label>
          <label class="col-md-2 checkbutton"><input type="radio" name="register" id="HRB" value="HRB"> HRB </label>
          <label class="col-md-2 checkbutton"><input type="radio" name="register" id="PR" value="PR"> PR </label>
          <label class="col-md-2 checkbutton"><input type="radio" name="register" id="VR" value="VR"> VR </label>
          <label class="col-md-2 checkbutton"><input type="radio" name="register" id="GR" value="GR"> GR </label>
    </div>
  </div>
  <div class="row">
      <input type="textarea" name="RegisterNR" id="RegisterNR" placeholder="Register-Nr." class="hausnummer input-group-sm ">
      <input type="textarea" name="Registerort" id="Registerort" placeholder="Registerort" class="strasse input-group-sm">
  </div>
</div>
<hr>
