

<div class="row">
  <label>Customer Name</label>
<input id="custname" name="custname" type="text" style="margin-left: 40px" placeholder="Enter Name" class="input-xlarge" required>
</div>
<div class="row">
  <label>Customer Number</label>
<input id="custnum" name="custnum" type="number" style="margin-left: 25px" placeholder="Enter Contact Number" class="input-xlarge" required>
</div>
<div class="row">
  <label>Billing Account</label>
  <input id="billacct" name="billacct" type="text" placeholder="Enter Billing Account Number" style="margin-left: 40px" class="input-xlarge" required>
</div>
