<div class="container-fluid">
 <div class="row">
   <div class="col-md-8">
    <label class="checkbutton ">
    <input type="radio" name="salutation" id="herr" value="Herr">
      Herr
    </label>
    <label class="col-md-2 checkbutton">
    <input type="radio" name="salutation" id="frau" value="Frau">
      Frau
    </label>
  </div>

    <div class="col-md-4">
      <input type="date" name="dob" id="dob" class="form-inline adjust_dob input-group-sm">
    </div>
  </div>

  <div class="row">
      <input type="textarea" name="Name" id="Name" placeholder="Name des Firmeninhabers" class="adjust_text input-group-sm">
      <input type="textarea" name="FirstName" id="FirstName" placeholder="Vorname des Firmeninhabers" class="adjust_text input-group-sm ">
  </div>

  <div class="row">
      <input type="textarea" name="street" id="street" placeholder="Wohnanschrift des Firmeninhabers (Strasse)" class="strasse input-group-sm">
      <input type="textarea" name="FirstName" id="FirstName" placeholder="Hausnummer" class="hausnummer input-group-sm ">
  </div>

  <div class="row">
      <input type="textarea" name="PLZ" id="PLZ" placeholder="PLZ" class="hausnummer input-group-sm ">
      <input type="textarea" name="ort" id="ort" placeholder="ohnanschrift des Firmeninhabers (Ort)" class="strasse input-group-sm">
  </div>

</div>
<hr>

