.msg{
  font-size: 8pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: right
}

.selectHeader{
  font-size: 10pt;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: -10px;
}

label{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8;
  padding-left: 10px;
}

.danger{
  color: rgb(230,0,0);
  font-weight: bolder;
}

.adjust{
  margin-top: 1px;
  margin-bottom: -20px;
}
