<div class="container-fluid">
  <h1>Anschrift des Firmen-Hauptsitzes</h1>
  <div class="row">
      <input type="textarea" name="street" id="street" placeholder="Wohnanschrift des Firmeninhabers (Strasse)" class="strasse input-group-sm">
      <input type="textarea" name="FirstName" id="FirstName" placeholder="Hausnummer" class="hausnummer input-group-sm ">
  </div>

  <div class="row">
      <input type="textarea" name="PLZ" id="PLZ" placeholder="PLZ" class="hausnummer input-group-sm ">
      <input type="textarea" name="ort" id="ort" placeholder="ohnanschrift des Firmeninhabers (Ort)" class="strasse input-group-sm">
  </div>

  <hr>

  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-9">
            <h1>Ansprechpartner für kaufmännische Rückfragen</h1>
        </div>
        <div class="col-xl-3">
            <button type="button" class="btn btn-primary"> Adresse übernehmen? </button>
        </div>
      </div>


    </div>

  </div>

  <div class="row">
    <div class="col-md-8">
      <label class="checkbutton ">
      <input type="radio" name="salutation" id="herr" value="Herr">
        Herr
      </label>
      <label class="col-md-2 checkbutton">
      <input type="radio" name="salutation" id="frau" value="Frau">
        Frau
      </label>
    </div>
  </div>

  <div class="row">
      <input type="textarea" name="Name" id="Name" placeholder="Name des Firmeninhabers" class="adjust_text input-group-sm">
      <input type="textarea" name="FirstName" id="FirstName" placeholder="Vorname des Firmeninhabers" class="adjust_text input-group-sm ">
  </div>

  <div class="row">
      <input type="textarea" name="Rufnummer" id="Rufnummer" placeholder="Rufnummer" class="adjust_text_2 input-group-sm">
      <input type="textarea" name="Mobilfunknummer" id="Mobilfunknummer" placeholder="Mobilfunknummer" class="adjust_text_2 input-group-sm ">
      <input type="textarea" name="Faxnummer" id="Faxnummer" placeholder="Faxnummer" class="adjust_text_2 input-group-sm ">
  </div>

  <div class="row">
      <input id="E-Mail-Adresse" name="E-Mail-Adresse" type="email" placeholder="E-Mail-Adresse" class="adjust_text_3 input-group-sm">
  </div>

  <div class="row">
      <input type="textarea" name="street" id="street" placeholder="Wohnanschrift des Firmeninhabers (Strasse)" class="strasse input-group-sm">
      <input type="textarea" name="FirstName" id="FirstName" placeholder="Hausnummer" class="hausnummer input-group-sm ">
  </div>

  <div class="row">
      <input type="textarea" name="PLZ" id="PLZ" placeholder="PLZ" class="hausnummer input-group-sm ">
      <input type="textarea" name="ort" id="ort" placeholder="ohnanschrift des Firmeninhabers (Ort)" class="strasse input-group-sm">
  </div>

<hr>
</div>
